.cardAuth {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
}

.iconaAuth {
    font-size: 3rem;
}

.sfondoPagina {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi0.wp.com%2Fwww.saturnia-terme.net%2Fel%2Fmedia%2Fgrafica%2Fsfondi%2Fneroverdescuro.jpg&f=1&nofb=1&ipt=eae078ffc41e7d032d06239ced24d1d1227d1623926b91fa60f2a65629fb9707');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}